body {
    background-color: white;
    color: black;
    font-size: 20px;
}

h1 {
    font-size: 28px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: .05em black solid;
    text-align: center;
    width: 20%;
}

#12  {
    background-color: red;
}