body {
    background-color: white;
    color: black;
    font-size: 20px;
}

h1 {
    font-size: 28px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: .05em black solid;
    text-align: center;
    width: 20%;
}

td {
    position: relative;
    overflow: hidden;
}

.scratch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}